.header{
    width: 100%;
    height: 100px;
    background-color:#189AB4;
    border-radius: 12px;
}
#title{
    color: #75E6DA;
    display: inline;
    text-align: center;
    font-size: 95px;
    margin-left: 500px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:#0e302c;
}
.inner-header{
    background-color: #05445E;
    width: 200px;
    height: 75px;
    float: right;
    display: inline;
    border-radius: 12px;
    margin-right: 5px;
    margin-top: 5px;
}

.icons{
    width: 55px;
    height: 55px;
    background-color: #D4F1F4;
    border-radius: 12px;
}
.icons:hover{
    background-color: #ffffff88;
    width: 60px;
    height: 60px;
}
.inner-header ul li{
    list-style-type: none;
    display: inline;
    
}
.logo{
    float:left;
}
.logo img{
    width: 95px;
    height: 95px;
}
.hr{
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: black;
    margin-top: 5px;
}
.footer{
    background-color: #05445E;
    width: 100%;
    height: 250px;
    border-radius: 12px;

}

.footer-text{
    color: white;
    font-size: 45px;
    display: inline;
    margin-left: 15px;
}
.inner-footer{
    background-color: #75E6DA;
    border-radius: 12px;
    width: 200px;
    height: 225px;
    float: right;

}

.inner-footer h2{
    text-align: center;
}

.inner-footer ul li{
    list-style-type: none;
    
}
.inner-footer ul li a{
    text-decoration: none;
    font-size: 20px;
}
.footer-icons{
    width: 35px;
    height: 35px;
    margin-left: 0px;
    border-radius: 4px;
}
.footer-icons:hover{
   background-color: rgba(255, 255, 255, 0.571);
   width: 40px;
    height: 40px;
}
.main{
    background-color: #0e302c;
    border-radius: 12px;
    width: 100%;
    height: 700px;
}
.menu{
    background-color: #05445E;
    border-radius: 12px;
    height: 100%;
    width: 300px;
    float: left;
}
.menu h1{
    color: white;
    text-align: center;
}
.hrr{
    width: 95%;
    margin: 0 auto;
    height: 5px;
    background-color: black;
    outline: solid 2px rgb(255, 255, 255);
}
.dropdown1{
    display: none;
    background-color:#189AB4;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 12px;
    
}
.menu ul li:hover ul{
    display: block;
}
.menu ul li:hover{
    color: rgba(0, 0, 0, 0.719);
}
.menu ul li{
    font-size: 20px;
    color: white;
}
.menu img{
    width: 275px;
    height: 275px;
    border-radius: 12px;
    outline: solid 2px rgb(255, 255, 255);
    margin: 10px 10px;
}
.content{
    background-color:#189AB4 ;
    width: 1000px;
    height: 100%;
    margin-left: 275px;
}


.content h1{
    font-size: 50px;
    text-align: center;
    color: white;
    margin-top: 10px;
}
.text{
    margin-left:25px;
    width: 1o0opx;
    height: 600px;
    background-color:#D4F1F4;
    border-radius: 12px;
}
.text h2{
    padding-left: 25px;
    padding-top: 10px;
    font-size: 40px;
}
.text p{
    padding: 25px;
    padding-top: 10px;
    font-size: 20px;
}